/* tailwind.css */
@import './tailwind.css';

/* Other global styles */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #282a36;
}

::-webkit-scrollbar-thumb {
  background: #2a0a2d;
  border-radius: 6px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #2a0a2d #282a36;
}


body {
  background: linear-gradient(135deg, #282a36, #44475a, #401044, #1e1f29, #403b4f);
}

.load {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #282a36;
}

#contact {
  position: relative;
}

.contact-load {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #1e1f2977;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  background-color: #2a0a2d;
}

.icon-large {
  font-size: 24px;
}


.line {
  position: relative;
  text-align: center;
  z-index: 20;
}

.line::before,
.line::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 3px;
  background-color: black;
}

.line::before {
  left: 0;
  width: calc(50% - 80px);
}

.line::after {
  right: 0;
  width: calc(50% - 80px);
}

.scrolling::before {
  content: "Thanks for Scrolling.";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #d4d2d2;
  border-right: 2px solid #d4d2d2;
  white-space: nowrap;
  overflow: hidden;
  animation: animatedText 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 15s infinite alternate forwards;
}

@keyframes animatedText {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.skill::after {
  content: "";
  width: 150px;
  height: 2px;
  background-color: snow;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.button-e {
  display: none;
}

.showButton {
  display: inline;
  z-index: 900;
  animation: bounceUpDown 1.2s infinite;
}


@keyframes bounceUpDown {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

/* loading */
.loader {
  position: relative;
  width: 64px;
  height: 64px;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #EFEFFA;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #EFEFFA;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #EFEFFA;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
.loader{
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  font-weight: bolder;
  font-family: poppins;
  font-size: 30px;
  letter-spacing: 2px;
  color: #0000;
  background: linear-gradient(90deg, #EFEFFA calc(50% + 0.5ch), #000 0) right/calc(200% + 1ch) 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: l7 2s infinite steps(11);
}

.text-container:before {
  content: "AKWH";
}

@keyframes l7 {
  to {
    background-position: left
  }
}